<h1 class="text-center mt-4 mb-4">Inbox</h1>

<h2>messages received</h2>
<% @messages.each do |message| %>
  <%= link_to message do %>
    <%= message.user.email %>
    <%= message.body %>
  <% end %>
<% end %>

<h2>thread started</h2>
<% @inbox.all.order('created_at DESC').each do |message| %>
  <%= link_to message do %>
    <span class="text-dark font-weight-bold">
      <%= User.find(message.receiver_id).email %>
    </span>
    <% if message.messages.any? %>
      <%= message.messages.last.body %>
    <% else %>
      <%= message.body %>
    <% end %>
    <em><small><%= time_ago_in_words(message.created_at) %></small></em>
    <br>
  <% end %>
<% end %>
