<h1 class="text-center mt-4 mb-4">Inbox</h1>

<div class="row justify-content-center">
  <div class="col-sm-8">
    <div class="row">

      <div class="col-sm">
        <h4>Received Messages</h4>
          <ul class="list-group">
            <% @messages.order('created_at DESC').each do |message| %>

              <li class="list-group-item list-group-item-action">
                <%= link_to message, class: "text-dark" do %>
                  <span class="font-weight-bold">
                    <%= message.user.email %>
                  </span>
                  <% if message.messages.any? %>
                    <%= message.messages.last.body %>
                  <% else %>
                    <%= message.body %>
                  <% end %>
                  <em><small><%= time_ago_in_words(message.created_at) %></small></em>
                <% end %>
              </li>
            <% end %>
          </ul>
      </div>

      <div class="col-sm">
        <h4>Messages Sent</h4>
        <ul class="list-group">
          <% @inbox.all.order('created_at DESC').each do |message| %>
          <li class="list-group-item list-group-item-action">
            <%= link_to message, class: "text-dark" do %>
              <span class="font-weight-bold">
                <%= User.find(message.receiver_id).email %>
              </span>
              <% if message.messages.any? %>
                <%= message.messages.last.body %>
              <% else %>
                <%= message.body %>
              <% end %>
              <em><small><%= time_ago_in_words(message.created_at) %></small></em>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</div>
