<h1 class="mt-4 mb-4 text-center">Not Instagram Stats</h1>
<div class="row">

  <div class="col-sm-4">
    <h5 class="mt-4 mb-4 font-weight-bold">Top Line Stats</h5>
    <ul>
      <li><strong>Total Users:</strong> <%= @users.count %></li>
      <li><strong>Total Posts:</strong> <%= @posts.count %></li>
      <li><strong>Total Comments:</strong> <%= @comments.count %></li>
    </ul>

    <h5 class="mt-4 mb-4 font-weight-bold">User With Most Posts</h5>
    <ul>
      <li><strong>User:</strong> <%= link_to @users.most_posts.email, @users.most_posts, class: "text-dark font-weight-bold" %></li>
      <li><strong>Post Count:</strong> <%= @users.most_posts.posts.count %></li>
    </ul>
    <h5 class="mt-4 mb-4 font-weight-bold">User With Most Comments</h5>
    <ul>
      <li><strong>User:</strong> <%= link_to @users.most_comments.email, @users.most_comments, class: "text-dark font-weight-bold" %></li>
      <li><strong>Comment Count:</strong> <%= @users.most_comments.comments.count %></li>
    </ul>
  </div>

  <div class="col-sm-8">
    <h5 class="mt-4 mb-4 font-weight-bold">All Users</h5>
    <ul class="list-group">
      <% @users.each do |user| %>
      <li class="list-group-item list-group-item-action"><%= link_to user.email, user_path(user), class: "text-dark font-weight-bold d-flex" %></li>
      <% end %>
    </ul>
  </div>
</div>
