<h1 class="mt-4 mb-4 text-center">Not Instagram Stats</h1>
<div class="row">

  <div class="col-sm-4">
    <h5 class="mt-4 mb-4 font-weight-bold">Top Line Stats</h5>
    <ul class="list-group">
      <li class="list-group-item"><strong>Total Users:</strong> <%= @users.count %></li>
      <li class="list-group-item"><strong>Total Posts:</strong> <%= @posts.count %></li>
      <li class="list-group-item"><strong>Total Comments:</strong> <%= @comments.count %></li>
    </ul>

    <h5 class="mt-4 mb-4 font-weight-bold">Most Followers</h5>
    <ul class="list-group">
      <li class="list-group-item"><strong>User:</strong> <%= link_to @users.most_followers.email, @users.most_followers, class: "text-dark font-weight-bold" %></li>
      <li class="list-group-item"><strong>Followers:</strong> <%= @users.most_followers.followers.count %></li>
    </ul>

    <h5 class="mt-4 mb-4 font-weight-bold">Most Posts</h5>
    <ul class="list-group">
      <li class="list-group-item"><strong>User:</strong> <%= link_to @users.most_posts.email, @users.most_posts, class: "text-dark font-weight-bold" %></li>
      <li class="list-group-item"><strong>Posts:</strong> <%= @users.most_posts.posts.count %></li>
    </ul>

    <h5 class="mt-4 mb-4 font-weight-bold">Most Comments</h5>
    <ul class="list-group">
      <li class="list-group-item"><strong>User:</strong> <%= link_to @users.most_comments.email, @users.most_comments, class: "text-dark font-weight-bold" %></li>
      <li class="list-group-item"><strong>Comments:</strong> <%= @users.most_comments.comments.count %></li>
    </ul>

  </div>

  <div class="col-sm-8">
    <h5 class="mt-4 mb-4 font-weight-bold">All Users</h5>
    <ul class="list-group">
      <% @users.each do |user| %>
      <li class="list-group-item list-group-item-action"><%= link_to user.email, user_path(user), class: "text-dark font-weight-bold d-flex" %></li>
      <% end %>
    </ul>
  </div>
</div>
