<div class="jumbotron text-center bg-light mb-0">
  <h1><%= @user.name %></h1>
  <p><%= @user.email %></p>

  <%= render 'follow' %>

  <% if !session[:user_id].nil? && @user.id == current_user.id %>
  <%= link_to 'Edit Profile', edit_user_path, class: "btn btn-outline-dark" %>
  <% end %>

  <%= render 'stats' %>

</div>

<hr class="mt-0">

<h5 class="text-center mb-3 font-weight-bold">Posts</h5>

<% if @user.posts.empty? %>
  <p class="text-center">
    No posts yet.
  </p>
<% else %>
  <div class="row">
    <% @user.posts.order('posts.created_at DESC').each do |post| %>
      <div class="col-sm-4 mb-4">
        <%= link_to image_tag(post.photo, class: "img-fluid"), post_path(post) %>
      </div>
    <% end %>
  </div>
<% end %>
