<!-- Following Posts -->
<h1 class="text-center mb-4 mt-4">Following</h1>
<div class="row justify-content-center">

  <% @feed.each do |post| %>
    <div class="col-10 pr-0 pl-0 mb-5 shadow" id="<%= post.id %>">
      <div class="bg-white p-4">
        <%= link_to post.user.email, post.user, class: "font-weight-bold text-dark" %>
      </div>

      <div>
        <%= link_to image_tag(post.photo, class: "img-fluid w-100"), post %>
      </div>

      <div class="bg-white pl-4 pr-4 pt-4 text-dark">
        <div class="mb-2">
          <% if post.liked_by?(current_user) %>
            unlike button
          <% else %>
            <%= form_for([post, post.likes.build]) do |f| %>
              <%= f.hidden_field :liker_id, value: current_user.id %>
              <%= f.submit "Like", class: "btn-sm btn-dark" %>
            <% end %>
          <% end %>
        </div>

        <% if post.likes.count != 0 %>
          <div class="font-weight-bold">
            <%= post.likes.count %>
            <% if post.likes.count == 1 %>
            like
            <% else %>
            likes
            <% end %>
          </div>
        <% end %>

        <%= link_to post.user.email, post.user, class: "font-weight-bold text-dark" %> <%= post.title %><br>
        <% if post.comments.count >= 3 %>
          <%= link_to "View all #{post.comments.count} comments", post, class: "font-weight-bold text-black-50" %><br>
          <% post.comments.order('created_at').last(2).each do |comment| %>
            <%= link_to comment.user.email, comment.user, class: "font-weight-bold text-dark" %>
            <%= comment.body %><br>
          <% end %>
        <% else %>
          <% post.comments.order('created_at').last(3).each do |comment| %>
            <%= link_to comment.user.email, comment.user, class: "font-weight-bold text-dark" %>
            <%= comment.body %><br>
          <% end %>
        <% end %>
      </div>

      <div class="bg-white pb-4 pl-4 pr-4 text-black-50 text-uppercase">
        <small>
          <%= time_ago_in_words(post.created_at) %> ago<br>
          <%= link_to "Add comment", post, class: "font-weight-bold" %>
        </small>
      </div>

    </div>
  <% end %>

</div>
