<div class="row justify-content-center mt-4">
  <div class="col-10 pr-0 pl-0 mb-5 shadow bg-white">
    <div class="bg-white p-4">
      <%= link_to @post.user.email, @post.user, class: "font-weight-bold text-dark" %>
      <%= render 'edit_post' %>
    </div>

    <div>
      <% if @post.photo.attached? %>
        <%= image_tag @post.photo, class: "img-fluid w-100" %>
      <% end %>
    </div>

    <div class="bg-white pt-4 pt-4 pl-4">
      <%= link_to @post.user.email, @post.user, class: "font-weight-bold text-dark" %> <%= @post.title %>
    </div>

    <%= @post.likes.count %>
    <%= render 'likes/button' %>

    <%= render @post.comments.order('created_at DESC') %>

    <div class="bg-white pb-4 pl-4 pr-4 text-uppercase text-black-50">
      <small><%= time_ago_in_words(@post.created_at) %></small>
    </div>

    <% if !session[:user_id].nil? %>
      <%= render 'comments/form' %>
    <% end %>
  </div>
</div>
