<h1><%= @post.title %></h1>
<% if @post.photo.attached? %>
<%= image_tag @post.photo, class: "img-fluid" %>
<% end %>
<p>
  <strong><%= link_to @post.user.email, @post.user %></strong>
  <%= @post.description %><br>
  <small><%= time_ago_in_words(@post.created_at) %></small>
</p>

<hr>
<%= @post.comments.count %>
<% if @post.comments.count == 1 %>
  Comment
<% else %>
  Comments
<% end %>

<br>
<%= render @post.comments.order('created_at DESC') %>

<% if !session[:user_id].nil? %>
  <%= render 'comments/form' %>
<% end %>

<%= render 'edit_post' %>
