<!DOCTYPE html>
<html>
  <head>
    <title>NotInstagramApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar bg-light sticky-top justify-content-center">
      <a class="nav-link" href="<%= posts_path %>">Post Index</a>
      <a class="nav-link" href="<%= new_post_path %>">New Post</a>
      <a class="nav-link" href="<%= users_path %>">User Index</a>
      <a class="nav-link" href="<%= new_user_path %>">New User</a>

      <% if current_user %>
        Logged in as <%= current_user.email %>.
        <%= link_to "Log Out", log_out_path, class: "nav-link" %>
      <% else %>
        <%= link_to "Sign up", sign_up_path, class: "nav-link" %>
        or
        <%= link_to "Log In", log_in_path, class: "nav-link" %>
      <% end %>
    </nav>

    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}", class: "alert alert-info" %>
      <% end %>

      <!--
      <% if flash[:success] %>
        <div class="alert alert-success"><%= flash[:success] %></div>
      <% end %>
      <% if flash[:danger] %>
        <div class="alert alert-danger"><%= flash[:success] %></div>
      <% end %>
      -->

      <%= yield %>
    </div>
  </body>
</html>
